---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: mimir-s3-credentials
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    creationPolicy: Owner
    template:
      data:
        S3_ENDPOINT: "{{ .s3_endpoint }}"
        S3_ACCESS_KEY_ID: "{{ .s3_access_key_id }}"
        S3_SECRET_ACCESS_KEY: "{{ .s3_secret_access_key }}"
        MIMIR_BUCKET: "{{ .mimir_bucket }}"
  dataFrom:
    - extract:
        key: mimir
