---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: loki
spec:
  chartRef:
    kind: OCIRepository
    name: loki
  interval: 1h
  values:
    deploymentMode: SimpleScalable
    loki:
      commonConfig:
        replication_factor: 1
      schemaConfig:
        configs:
          - from: "2024-04-01"
            store: tsdb
            object_store: s3
            schema: v13
            index:
              prefix: loki_index_
              period: 24h
      pattern_ingester:
        enabled: true
      limits_config:
        allow_structured_metadata: true
        volume_enabled: true
      ruler:
        enable_api: true
      storage:
        type: s3
        bucketNames:
          chunks: "${LOKI_BUCKET_CHUNKS}"
          ruler: "${LOKI_BUCKET_RULER}"
          admin: "${LOKI_BUCKET_ADMIN}"
        s3:
          endpoint: "${S3_ENDPOINT}"
          region: "auto"
          accessKeyId: "${S3_ACCESS_KEY_ID}"
          secretAccessKey: "${S3_SECRET_ACCESS_KEY}"
          s3ForcePathStyle: false
          insecure: false
    minio:
      enabled: false
    singleBinary:
      replicas: 0
    write:
      replicas: 2
      extraArgs:
        - "-config.expand-env=true"
      extraEnvFrom:
        - secretRef:
            name: loki-tigris-credentials
    read:
      replicas: 2
      extraArgs:
        - "-config.expand-env=true"
      extraEnvFrom:
        - secretRef:
            name: loki-tigris-credentials
    backend:
      replicas: 2
      extraArgs:
        - "-config.expand-env=true"
      extraEnvFrom:
        - secretRef:
            name: loki-tigris-credentials
    serviceMonitor:
      enabled: true
    test:
      enabled: false
    lokiCanary:
      enabled: false