---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: cloudflare-dns
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: cloudflare-dns-secret
  data:
    # Connect: key = Item Title, property = field Label
    - secretKey: CF_API_TOKEN
      remoteRef:
        key: cloudflare
        property: dns-token
    - secretKey: CF_ZONE_ID
      remoteRef:
        key: cloudflare
        property: zone-id